// @import '~antd/lib/style/themes/index';

@filters-form: awe-filters-form;

.ant-form-item-label {
  > label {
    > span {
      display: inline-block;
      width: 92px;
    }
  }
}

.ant-form-inline.@{filters-form} {
  > .ant-form-item {
    margin-bottom: 16px;
  }
}

.@{filters-form}.@{filters-form}--collapsed {
  &.@{filters-form}--xs,
  &.@{filters-form}--sm {
    .ant-form-item-label {
      > label {
        > span {
          width: auto;
        }
      }
    }
  }

  &.@{filters-form}--xs > :nth-child(n + 2):not(:last-child),
  &.@{filters-form}--sm > :nth-child(n + 3):not(:last-child),
  &.@{filters-form}--md > :nth-child(n + 3):not(:last-child),
  &.@{filters-form}--lg > :nth-child(n + 4):not(:last-child),
  &.@{filters-form}--xl > :nth-child(n + 4):not(:last-child),
  &.@{filters-form}--xxl > :nth-child(n + 5):not(:last-child),
  &.@{filters-form}--xxxl > :nth-child(n + 6):not(:last-child) {
    display: none;
  }
}
